In [17]:
import pandas as pd
import os

In [4]:
pd.read_csv('sample_submission.csv')

             Id                                          Predicted
0            51  3239211 10720024 8493844 1965540 5009002 95218...
1            65  11693356 13392267 2464515 2245175 4748570 1134...
2           766  12773054 3692749 12726751 10041624 11893515 23...
3          1132  8613934 3599065 575614 4821474 11609320 699047...
4          1578  289404 4328240 3129788 9390886 11166655 173077...
...         ...                                                ...
107063  2997849  488280 12804927 11495685 10630957 10105977 123...
107064  2997853  8793937 4387315 2889577 12818088 5845044 33833...
107065  2997873  13062625 4299544 6891932 6790047 5060191 19574...
107066  2997988  450088 7429186 2128096 12142139 4530043 425405...
107067  2998048  8821711 6445161 10484134 12401659 9743691 3364...

[107068 rows x 2 columns]

In [91]:
tab_2 = pd.read_csv('sbermarket_tab_2_1/tab_2_products_2020-01-01.csv')

In [97]:
tab_2

,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id
0,525,5354800,28381452,116.000000,4,0.000000,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99
1,525,5354800,29242911,56.990002,2,13.080000,Хлеб Хлебный Дом Геркулес зерновой с отрубями ...,5636,Хлебный Дом,596.0,51
2,525,5354800,29242919,64.989998,2,40.020000,Тортилья Delicados оригинальная пшеничная,22107,Delicados,596.0,51
3,525,5354800,29243785,44.990002,6,0.000000,Вода питьевая минеральная BonAqua газированная...,2530,BonAqua,77.0,74
4,525,5354800,29244246,65.900002,6,30.990000,"Газированный напиток Mirinda Апельсин 1,5 л",3818486,Mirinda,76.0,74
...,...,...,...,...,...,...,...,...,...,...,...
303662,725964,5652846,29327078,52.639999,2,23.780001,Черная смородина Fine life быстрозамороженная,94654,Fine Life,592.0,90
303663,725964,5652846,29327108,29.459999,1,39.400002,Помидоры черри красные 250 г,687,Без бренда,85.0,84
303664,725964,5652846,29327109,29.480000,1,29.580000,Помидоры черри сливовидные 250 г,4830888,Без бренда,85.0,84
303665,725964,5652846,29327192,83.220001,1,21.209999,Сыр Bonfesto Моцарелла mini 45% 100 г бзмж,26739,Bonfesto,38.0,35
303666,725964,5652846,29434188,138.009995,1,0.000000,Сыр Galbani Mozzarella Ball 45% 125 г бзмж,407,Galbani,38.0,35

In [96]:
len(tab_2.master_category_id.unique())

451

In [28]:
df = tab_2[tab_2['user_id']==65]

In [111]:
tab_2

,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id,agg_price
0,51,9096837,82343551,363.920013,1,0.0,Авокадо,54728,Без бренда,85.0,84,363.920013
1,51,9096837,82343610,179.899994,2,0.0,Кукуруза сладкая в вакууме 230 г,6005183,Без бренда,85.0,84,359.799988
2,51,9096837,82343922,139.899994,5,0.0,Томаты Черри Мое лето Санрайз красные 250 г,63057,Мое лето,85.0,84,699.499969
3,51,9096837,82344065,139.899994,1,0.0,Огурцы Луховицкие,3497570,Без бренда,85.0,84,139.899994
4,51,9096837,82344120,336.500000,1,0.0,Перец красный сладкий,3817489,Без бренда,85.0,84,336.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
3698147,1801142,9728699,86588610,77.500000,3,0.0,Майонез Ряба Провансаль сметанный 67% 372 г,20204,Ряба,586.0,479,232.500000
3698148,1801142,9728699,86588702,120.000000,1,0.0,Тортилья Delicados сырная пшеничная,22108,Delicados,596.0,51,120.000000
3698149,1801142,9728699,86588834,235.000000,1,214.0,Крабовые палочки Vici замороженные,7114,Vici,118.0,112,235.000000
3698150,1801142,9728699,86864571,69.000000,1,0.0,Перчатки Paclan Practi Comfort резиновые размер L,98041,Paclan,281.0,279,69.000000
3698151,1801142,9728699,86889633,110.000000,1,0.0,Квас солодовый Благодать Домашний на листьях в...,92101,Благодать,80.0,74,110.000000

In [117]:
tab_2['agg_price'] = tab_2['price'] * tab_2['quantity']
stats = tab_2.groupby(['user_id', 'order_id'], as_index=False)[['quantity', 'agg_price']].sum()#.agg({'agg_price':'sum', 'price':'mean'})

In [127]:
tab_2['agg_price'] = tab_2['price'] * tab_2['quantity']
stats = tab_2.groupby(['user_id', 'order_id'], as_index=False)[['quantity', 'agg_price']].sum()#.agg({'agg_price':'sum', 'price':'mean'})
disc_stats = tab_2[tab_2['discount']>0].groupby(['user_id', 'order_id'], as_index=False)['discount'].count()
stats_final = stats.merge(disc_stats, how='left').fillna(0)
stats_final

        user_id  order_id  quantity     agg_price  discount
0            51   9096837        69  12524.189949       2.0
1            65   9020167        55   8795.429985       6.0
2           623   9165458        86   8155.110003      11.0
3          1019   8924469        28   2359.389984       9.0
4          1177   7001213        43   4974.399971       9.0
...         ...       ...       ...           ...       ...
112037  1801095   9802973        58   5921.810022       6.0
112038  1801112   9772085        19   1658.809958       0.0
112039  1801119   9802826        34   2914.880039       3.0
112040  1801121   9802452        39   4030.370010       5.0
112041  1801142   9728699        35   4626.689987       4.0

[112042 rows x 5 columns]

In [135]:
df = pd.DataFrame(columns = stats_final.columns)

In [136]:
df

Empty DataFrame
Columns: [user_id, order_id, quantity, agg_price, discount]
Index: []

In [137]:
for i in range(1,7):
    file_list = os.listdir(f'sbermarket_tab_2_{i}/')
    display(df)
    for file in file_list:
        print(f'sbermarket_tab_2_{i}/{file}')
        
        tab_2 = pd.read_csv(f'sbermarket_tab_2_{i}/{file}')
        
        tab_2['agg_price'] = tab_2['price'] * tab_2['quantity']
        stats = tab_2.groupby(['user_id', 'order_id'], as_index=False)[['quantity', 'agg_price']].sum()#.agg({'agg_price':'sum', 'price':'mean'})
        disc_stats = tab_2[tab_2['discount']>0].groupby(['user_id', 'order_id'], as_index=False)['discount'].count()
        stats_final = stats.merge(disc_stats, how='left').fillna(0)
        
        df = df.append(stats_final)
        
        #display(tab_2[tab_2['order_id']==16926225])
        #df.append(tab_2[tab_2['user_id']==65])

Empty DataFrame
Columns: [user_id, order_id, quantity, agg_price, discount]
Index: []

sbermarket_tab_2_1/tab_2_products_2020-01-01.csv
sbermarket_tab_2_1/tab_2_products_2020-01-11.csv
sbermarket_tab_2_1/tab_2_products_2020-01-21.csv
sbermarket_tab_2_1/tab_2_products_2020-01-31.csv
sbermarket_tab_2_1/tab_2_products_2020-02-10.csv
sbermarket_tab_2_1/tab_2_products_2020-02-20.csv
sbermarket_tab_2_1/tab_2_products_2020-03-01.csv
sbermarket_tab_2_1/tab_2_products_2020-03-11.csv
sbermarket_tab_2_1/tab_2_products_2020-03-21.csv
sbermarket_tab_2_1/tab_2_products_2020-03-31.csv

       user_id order_id quantity     agg_price  discount
0          525  5354800       44   3830.250029       9.0
1          766  5395508       37   3252.910004       6.0
2          859  5149947       73   8143.110085       4.0
3          932  5624761       92   9108.570017       6.0
4         1012  5245079       69   4457.850098       0.0
...        ...      ...      ...           ...       ...
56536  1468066  8271679       40   3722.439987       5.0
56537  1468071  4575423       97  11012.050026      15.0
56538  1468092  7013072       50   6084.449974       4.0
56539  1468096  8128886       28   3566.769997       2.0
56540  1468104  8051933       89   8562.289968      19.0

[301629 rows x 5 columns]

sbermarket_tab_2_2/tab_2_products_2020-04-10.csv
sbermarket_tab_2_2/tab_2_products_2020-04-20.csv
sbermarket_tab_2_2/tab_2_products_2020-04-30.csv

        user_id order_id quantity    agg_price  discount
0           525  5354800       44  3830.250029       9.0
1           766  5395508       37  3252.910004       6.0
2           859  5149947       73  8143.110085       4.0
3           932  5624761       92  9108.570017       6.0
4          1012  5245079       69  4457.850098       0.0
...         ...      ...      ...          ...       ...
112037  1801095  9802973       58  5921.810022       6.0
112038  1801112  9772085       19  1658.809958       0.0
112039  1801119  9802826       34  2914.880039       3.0
112040  1801121  9802452       39  4030.370010       5.0
112041  1801142  9728699       35  4626.689987       4.0

[573142 rows x 5 columns]

sbermarket_tab_2_3/tab_2_products_2020-05-10.csv
sbermarket_tab_2_3/tab_2_products_2020-05-20.csv
sbermarket_tab_2_3/tab_2_products_2020-05-30.csv

        user_id  order_id quantity    agg_price  discount
0           525   5354800       44  3830.250029       9.0
1           766   5395508       37  3252.910004       6.0
2           859   5149947       73  8143.110085       4.0
3           932   5624761       92  9108.570017       6.0
4          1012   5245079       69  4457.850098       0.0
...         ...       ...      ...          ...       ...
142840  2100074  10533299       19  1210.620008       5.0
142841  2100075  11649354       56  4561.449970      37.0
142842  2100080  11649779       31  2840.060020       4.0
142843  2100082  11649745        7  1037.190002       2.0
142844  2100090  11649787        4  1480.659988       1.0

[978218 rows x 5 columns]

sbermarket_tab_2_4/tab_2_products_2020-06-09.csv
sbermarket_tab_2_4/tab_2_products_2020-06-19.csv
sbermarket_tab_2_4/tab_2_products_2020-06-29.csv

        user_id  order_id quantity     agg_price  discount
0           525   5354800       44   3830.250029       9.0
1           766   5395508       37   3252.910004       6.0
2           859   5149947       73   8143.110085       4.0
3           932   5624761       92   9108.570017       6.0
4          1012   5245079       69   4457.850098       0.0
...         ...       ...      ...           ...       ...
111059  2338134   6043662        4   2416.000000       0.0
111060  2338138  13152028       72  10812.110047       2.0
111061  2338153  13152364       37   2819.290009       0.0
111062  2338159  13150975       21   1341.879988       2.0
111063  2338162   6881073       25   3252.880014      12.0

[1336119 rows x 5 columns]

sbermarket_tab_2_5/tab_2_products_2020-07-09.csv
sbermarket_tab_2_5/tab_2_products_2020-07-19.csv
sbermarket_tab_2_5/tab_2_products_2020-07-29.csv

        user_id  order_id quantity    agg_price  discount
0           525   5354800       44  3830.250029       9.0
1           766   5395508       37  3252.910004       6.0
2           859   5149947       73  8143.110085       4.0
3           932   5624761       92  9108.570017       6.0
4          1012   5245079       69  4457.850098       0.0
...         ...       ...      ...          ...       ...
115905  2628057  14622095       19  2507.220009       4.0
115906  2628060  14622265       46  1513.400070       7.0
115907  2628062  14622231       19  1953.460007       9.0
115908  2628066  14622065       21  1803.360016       7.0
115909  2628078   9197616       11  1141.639992       0.0

[1696579 rows x 5 columns]

sbermarket_tab_2_6/tab_2_products_2020-08-08.csv
sbermarket_tab_2_6/tab_2_products_2020-08-18.csv
sbermarket_tab_2_6/tab_2_products_2020-08-28.csv
sbermarket_tab_2_6/tab_2_products_2020-09-07.csv

In [144]:
df['quantity'] = df['quantity'].astype('float64')

In [151]:
count_orders = df.groupby(['user_id'], as_index=False)['order_id'].count().rename(columns={"order_id":"order_count"})

In [153]:
final_stats = df.groupby(['user_id'], as_index=False)[['quantity', 'agg_price', 'discount']].sum()
final_stats = final_stats.merge(count_orders, how='inner')

In [155]:
final_stats['avg_check_per_order'] = final_stats['agg_price'] / final_stats['order_count']
final_stats['discount_items_share'] = final_stats['discount'] / final_stats['quantity']
final_stats['avg_item_price'] = final_stats['agg_price'] / final_stats['quantity']

In [156]:
final_stats

,user_id,quantity,agg_price,discount,order_count,avg_check_per_order,discount_items_share,avg_item_price
0,51,1674.0,303876.199488,143.0,17,17875.070558,0.085424,181.527001
1,65,1030.0,181072.309862,126.0,23,7872.709124,0.122330,175.798359
2,83,39.0,5894.309998,5.0,1,5894.309998,0.128205,151.136154
3,142,19.0,3781.000000,1.0,1,3781.000000,0.052632,199.000000
4,187,2.0,554.220001,0.0,1,554.220001,0.000000,277.110001
...,...,...,...,...,...,...,...,...
657497,3142901,16.0,1135.339996,4.0,1,1135.339996,0.250000,70.958750
657498,3142924,17.0,1397.950039,6.0,1,1397.950039,0.352941,82.232355
657499,3142936,17.0,1380.300018,9.0,1,1380.300018,0.529412,81.194119
657500,3142965,21.0,1479.060011,1.0,1,1479.060011,0.047619,70.431429
657501,3142966,26.0,2295.809988,17.0,1,2295.809988,0.653846,88.300384

In [157]:
final_stats.to_csv('customer_stats.csv')

In [102]:
df = df.append(tab_2)

In [103]:
df

,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id
0,65,16095339,170790864,119.000000,1,96.000000,Шоколад Lindt Excellence горький 78%,201286,Lindt,60.0,56
1,65,16095339,170790865,172.839996,1,0.000000,Грейпфрут,105764,Без бренда,91.0,90
2,65,16095339,170790866,118.000000,2,0.000000,"Творог Valio мягкий обезжиренный 0,1% бзмж",26062,Valio,30.0,20
3,65,16095339,170790867,276.329987,1,0.000000,Яблоки Роял Гала,3302524,Без бренда,91.0,90
4,65,16095339,170790868,379.010010,1,0.000000,Авокадо,54728,Без бренда,85.0,84
...,...,...,...,...,...,...,...,...,...,...,...
3167950,3142966,16654689,173388143,34.889999,1,17.700001,"Йогурт Epica гранат и малина 4,8% 130 г бзмж",71049,Epica,21.0,20
3167951,3142966,16654689,173388392,63.889999,1,73.000000,Шоколад Ritter Sport молочный с начинкой Клубн...,96217,Ritter Sport,60.0,56
3167952,3142966,16654689,173388690,63.889999,1,82.500000,Шоколад Ritter Sport молочный с начинкой Карам...,94125,Ritter Sport,60.0,56
3167953,3142966,16654689,173388868,298.489990,1,0.000000,Филе цыпленка-бройлера Троекурово охлажденное ...,4235874,Троекурово,122.0,119
3167954,3142966,16654689,173389498,210.589996,1,0.000000,Голень цыпленка-бройлера Троекурово охлажденна...,3850672,Троекурово,122.0,119

In [ ]:
pd.read_csv('kaggle_tab_1345/tab_1_orders.csv')

In [86]:
orders = pd.read_csv('kaggle_tab_1345/tab_1_orders.csv')

In [40]:
orders[(orders['order_created_time'] >= '2020-09-17') & (orders['user_id'] == 766)]

    user_id  order_id   order_created_time retailer  store_id platform
77      766  16926225  2020-09-18 12:16:57    METRO         2      web
78      766  17116500  2020-09-21 17:59:40    METRO         2      web
79      766  17525329  2020-09-27 13:45:07     Ашан        70      web

In [41]:
prod = pd.read_csv('sbermarket_tab_2_6/tab_2_products_2020-09-07.csv')

In [45]:
prod.order_id.unique()

array([16095339, 15952443, 16124298, ..., 16831182, 15623327, 16654689],
      dtype=int64)

In [53]:
orders[orders['order_id'].isin(prod.order_id.unique())].order_created_time.max()

'2020-09-16 22:57:59'

## Check on stores

In [ ]:
orders = pd.read_csv('kaggle_tab_1345/tab_1_orders.csv')

In [54]:
test = pd.read_csv('sample_submission.csv')

In [73]:
len(test.Id.unique())

107068

In [55]:
orders[(orders['order_created_time'] >= '2020-09-17') & (orders['user_id'].isin(test.Id.unique()))]

         user_id  order_id   order_created_time retailer  store_id platform
35           576  17151229  2020-09-22 10:58:26  SELGROS         4      app
41           608  16955655  2020-09-19 03:43:50     Ашан       171      web
42           608  17396639  2020-09-26 03:45:48    Лента       388      web
77           766  16926225  2020-09-18 12:16:57    METRO         2      web
78           766  17116500  2020-09-21 17:59:40    METRO         2      web
...          ...       ...                  ...      ...       ...      ...
2394642  3142465  17253539  2020-09-24 07:37:24    Лента       359      app
2394664  3142509  17062354  2020-09-20 19:04:49     Ашан        70      web
2394720  3142703  17841075  2020-10-01 19:41:04    METRO         8      app
2394743  3142766  17552886  2020-09-27 23:31:32     Ашан       172      app
2394761  3142820  17685269  2020-09-29 13:40:47    Лента       210      app

[71116 rows x 6 columns]

In [64]:
orders_test = orders[(orders['order_created_time'] >= '2020-09-17') & (orders['user_id'].isin(test.Id.unique()))]

In [68]:
first_order_test = orders_test.sort_values('order_created_time').groupby("user_id", as_index=False).first()

In [69]:
first_order_test

       user_id  order_id   order_created_time retailer  store_id platform
0          576  17151229  2020-09-22 10:58:26  SELGROS         4      app
1          608  16955655  2020-09-19 03:43:50     Ашан       171      web
2          766  16926225  2020-09-18 12:16:57    METRO         2      web
3         1012  17546773  2020-09-27 19:32:17    METRO        10      web
4         1474  17221664  2020-09-23 14:25:34     Ашан       172      app
...        ...       ...                  ...      ...       ...      ...
45050  3142465  17253539  2020-09-24 07:37:24    Лента       359      app
45051  3142509  17062354  2020-09-20 19:04:49     Ашан        70      web
45052  3142703  17841075  2020-10-01 19:41:04    METRO         8      app
45053  3142766  17552886  2020-09-27 23:31:32     Ашан       172      app
45054  3142820  17685269  2020-09-29 13:40:47    Лента       210      app

[45055 rows x 6 columns]

In [80]:
rest_of_ids = set(test.Id.unique()) - set(first_order_test.user_id.unique())

In [85]:
len(rest_of_ids)

62013

In [81]:
orders_ = orders[orders['user_id'].isin(rest_of_ids)].groupby(["user_id", "retailer", "store_id"], as_index=False).count()

In [82]:
orders_

        user_id  retailer  store_id  order_id  order_created_time  platform
0           187  ВкусВилл       533         1                   1         1
1           400     METRO        11         6                   6         6
2          1050     Лента       144         4                   4         4
3          1050     Лента       795         1                   1         1
4          1132     METRO         1         9                   9         9
...         ...       ...       ...       ...                 ...       ...
103378  3142704     METRO       105         1                   1         1
103379  3142704      Ашан       260         1                   1         1
103380  3142760     Лента       139         2                   2         2
103381  3142774     Лента       615         2                   2         2
103382  3142875     Лента       732         2                   2         2

[103383 rows x 6 columns]

In [168]:
first_order_test['month'] = pd.DatetimeIndex(first_order_test['order_created_time']).month
first_order_test['hour'] = pd.DatetimeIndex(first_order_test['order_created_time']).hour
first_order_test['weekday'] = pd.DatetimeIndex(first_order_test['order_created_time']).dayofweek

In [224]:
orders = pd.read_csv('kaggle_tab_1345/tab_1_orders.csv')
test = pd.read_csv('sample_submission.csv')

orders_test = orders[(orders['user_id'].isin(test.Id.unique()))]
first_order_test = orders_test.sort_values('order_created_time').groupby("user_id", as_index=False).first()


first_order_test['month'] = pd.DatetimeIndex(first_order_test['order_created_time']).month
first_order_test['hour'] = pd.DatetimeIndex(first_order_test['order_created_time']).hour
first_order_test['weekday'] = pd.DatetimeIndex(first_order_test['order_created_time']).dayofweek

final_stats = pd.read_csv('customer_stats.csv')
first_order_test.merge(final_stats, how='left')
first_order_test.merge(final_stats, how='left').to_csv('test.csv')

In [227]:
len(first_order_test.merge(final_stats, how='left').retailer.unique())

28

In [160]:
import numpy as np
orders_max = orders_.groupby(['user_id'], as_index=False).max()
orders_max['order_id'] = np.nan
orders_max['order_created_time'] = np.nan
orders_max['platform'] = np.nan
orders_max

       user_id  retailer  store_id  order_id  order_created_time  platform
0          187  ВкусВилл       533       NaN                 NaN       NaN
1          400     METRO        11       NaN                 NaN       NaN
2         1050     Лента       795       NaN                 NaN       NaN
3         1132     METRO         1       NaN                 NaN       NaN
4         1221      Ашан       184       NaN                 NaN       NaN
...        ...       ...       ...       ...                 ...       ...
59178  3142689      Ашан       252       NaN                 NaN       NaN
59179  3142704      Ашан       260       NaN                 NaN       NaN
59180  3142760     Лента       139       NaN                 NaN       NaN
59181  3142774     Лента       615       NaN                 NaN       NaN
59182  3142875     Лента       732       NaN                 NaN       NaN

[59183 rows x 6 columns]

In [170]:
first_order_test = first_order_test.append(orders_max)

In [171]:
first_order_test

,user_id,order_id,order_created_time,retailer,store_id,platform,month,hour,weekday
0,576,17151229.0,2020-09-22 10:58:26,SELGROS,4,app,9.0,10.0,1.0
1,608,16955655.0,2020-09-19 03:43:50,Ашан,171,web,9.0,3.0,5.0
2,766,16926225.0,2020-09-18 12:16:57,METRO,2,web,9.0,12.0,4.0
3,1012,17546773.0,2020-09-27 19:32:17,METRO,10,web,9.0,19.0,6.0
4,1474,17221664.0,2020-09-23 14:25:34,Ашан,172,app,9.0,14.0,2.0
...,...,...,...,...,...,...,...,...,...
59178,3142689,NaN,NaN,Ашан,252,NaN,NaN,NaN,NaN
59179,3142704,NaN,NaN,Ашан,260,NaN,NaN,NaN,NaN
59180,3142760,NaN,NaN,Лента,139,NaN,NaN,NaN,NaN
59181,3142774,NaN,NaN,Лента,615,NaN,NaN,NaN,NaN
59182,3142875,NaN,NaN,Лента,732,NaN,NaN,NaN,NaN

In [172]:
first_order_test.to_csv('store_of_test_order.csv')

In [173]:
first_order_test.merge(final_stats, how='left')

,user_id,order_id,order_created_time,retailer,store_id,platform,month,hour,weekday,quantity,agg_price,discount,order_count,avg_check_per_order,discount_items_share,avg_item_price
0,576,17151229.0,2020-09-22 10:58:26,SELGROS,4,app,9.0,10.0,1.0,257.0,25193.220001,31.0,8,3149.152500,0.120623,98.028093
1,608,16955655.0,2020-09-19 03:43:50,Ашан,171,web,9.0,3.0,5.0,105.0,16618.060023,50.0,5,3323.612005,0.476190,158.267238
2,766,16926225.0,2020-09-18 12:16:57,METRO,2,web,9.0,12.0,4.0,635.0,81472.820208,89.0,23,3542.296531,0.140157,128.303654
3,1012,17546773.0,2020-09-27 19:32:17,METRO,10,web,9.0,19.0,6.0,658.0,55425.590509,21.0,12,4618.799209,0.031915,84.233420
4,1474,17221664.0,2020-09-23 14:25:34,Ашан,172,app,9.0,14.0,2.0,175.0,14470.170139,14.0,6,2411.695023,0.080000,82.686687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104233,3142689,NaN,NaN,Ашан,252,NaN,NaN,NaN,NaN,23.0,2136.589968,6.0,1,2136.589968,0.260870,92.895216
104234,3142704,NaN,NaN,Ашан,260,NaN,NaN,NaN,NaN,18.0,1610.650002,7.0,1,1610.650002,0.388889,89.480556
104235,3142760,NaN,NaN,Лента,139,NaN,NaN,NaN,NaN,99.0,8059.530048,47.0,1,8059.530048,0.474747,81.409394
104236,3142774,NaN,NaN,Лента,615,NaN,NaN,NaN,NaN,12.0,1029.289989,3.0,1,1029.289989,0.250000,85.774166
104237,3142875,NaN,NaN,Лента,732,NaN,NaN,NaN,NaN,20.0,1741.900032,12.0,1,1741.900032,0.600000,87.095002

In [174]:
first_order_test.merge(final_stats, how='left').to_csv('test.csv')

In [192]:
len(first_order_test.retailer.unique())

39

# Train

In [175]:
orders = pd.read_csv('kaggle_tab_1345/tab_1_orders.csv')

In [176]:
orders

         user_id  order_id   order_created_time  retailer  store_id   platform
0             72  17431000  2020-09-26 10:48:57     METRO        21        app
1             83   9718154  2020-05-08 09:46:18     METRO        87        web
2            142  10056850  2020-05-14 15:06:03     METRO       320        app
3            187  15952443  2020-09-01 17:34:00  ВкусВилл       533        app
4            224  10409918  2020-05-20 06:32:50      Ашан       183        web
...          ...       ...                  ...       ...       ...        ...
2461953  3432957  15948419  2020-09-01 15:41:27     Лента       218        app
2461954  3432966  16855344  2020-09-17 10:16:16     Лента       130        app
2461955  3432977   9214726  2020-04-29 10:09:37     Лента       373        app
2461956  3433000  17739392  2020-09-30 09:18:19     Лента       781  undefined
2461957  3433023  10205918  2020-05-16 22:33:20     METRO       189        app

[2461958 rows x 6 columns]

In [180]:
pd.DatetimeIndex(first_order_test['order_created_time']).month

Float64Index([9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0,
              ...
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
             dtype='float64', name='order_created_time', length=104238)

In [183]:
orders['month'] = pd.DatetimeIndex(orders['order_created_time']).month
orders['hour'] = pd.DatetimeIndex(orders['order_created_time']).hour
orders['weekday'] = pd.DatetimeIndex(orders['order_created_time']).dayofweek

In [186]:
orders_final = orders.merge(final_stats, how='inner')

In [187]:
orders_final.to_csv('train.csv')

In [188]:
orders_final.isna().sum()

user_id                 0
order_id                0
order_created_time      0
retailer                0
store_id                0
platform                0
month                   0
hour                    0
weekday                 0
quantity                0
agg_price               0
discount                0
order_count             0
avg_check_per_order     0
discount_items_share    0
avg_item_price          0
dtype: int64

In [193]:
orders_final

,user_id,order_id,order_created_time,retailer,store_id,platform,month,hour,weekday,quantity,agg_price,discount,order_count,avg_check_per_order,discount_items_share,avg_item_price
0,83,9718154,2020-05-08 09:46:18,METRO,87,web,5,9,4,39.0,5894.309998,5.0,1,5894.309998,0.128205,151.136154
1,142,10056850,2020-05-14 15:06:03,METRO,320,app,5,15,3,19.0,3781.000000,1.0,1,3781.000000,0.052632,199.000000
2,187,15952443,2020-09-01 17:34:00,ВкусВилл,533,app,9,17,1,2.0,554.220001,0.0,1,554.220001,0.000000,277.110001
3,224,10409918,2020-05-20 06:32:50,Ашан,183,web,5,6,2,85.0,7790.039915,1.0,1,7790.039915,0.011765,91.647528
4,260,9098652,2020-04-27 00:51:34,METRO,3,app,4,0,0,123.0,11408.170044,6.0,3,3802.723348,0.048780,92.749350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2329234,3142901,16830949,2020-09-16 22:33:02,Лента,732,web,9,22,2,16.0,1135.339996,4.0,1,1135.339996,0.250000,70.958750
2329235,3142924,16831046,2020-09-16 22:42:56,METRO,335,web,9,22,2,17.0,1397.950039,6.0,1,1397.950039,0.352941,82.232355
2329236,3142936,16831182,2020-09-16 22:57:59,SELGROS,610,app,9,22,2,17.0,1380.300018,9.0,1,1380.300018,0.529412,81.194119
2329237,3142965,15623327,2020-08-26 13:16:12,Лента,450,app,8,13,2,21.0,1479.060011,1.0,1,1479.060011,0.047619,70.431429
2329238,3142966,16654689,2020-09-13 19:20:33,Лента,300,app,9,19,6,26.0,2295.809988,17.0,1,2295.809988,0.653846,88.300384

In [ ]:
df = pd.DataFrame()
orders_final = pd.read_csv('train.csv')
for i in range(1,7):
    file_list = os.listdir(f'sbermarket_tab_2_{i}/')
    display(df)
    for file in file_list:
        print(f'{file}')
        
        tab_2 = pd.read_csv(f'sbermarket_tab_2_{i}/{file}')
        tab_labeled = tab_2.groupby('order_id', as_index=False)['product_id'].apply(list)
        chunk_labeled = orders_final.merge(tab_labeled, how='inner', on=['order_id'])
        if df.empty:
            df = chunk_labeled
        else:
            df = df.append(chunk_labeled)

In [217]:
tab_2 = pd.read_csv('sbermarket_tab_2_1/tab_2_products_2020-01-01.csv')
tab_2.groupby(by="order_id").product_id.apply(list)

TypeError: unhashable type: 'numpy.ndarray'

In [223]:
ss=pd.DataFrame()
if ss.empty:
    print(1)
else:
    print(0)

1

In [202]:
tab_2.dtypes

user_id                 int64
order_id                int64
line_item_id            int64
price                 float64
quantity                int64
discount              float64
product_name           object
product_id             object
brand_name             object
master_category_id    float64
parent_category_id      int64
agg_price             float64
dtype: object

In [201]:
tab_2['product_id'] = str(tab_2['product_id'])